*.log
*.DS_Store

safedelete/tmp
safedelete/lib/
safedelete/logs
safedelete/precompile
safedelete/javadoc
safedelete/nbproject
safedelete/.idea
safedelete/node_modules
safedelete/dist

safedelete.iml
safedelete.ipr
safedelete.iws

safedelete/modules/
.idea/
/safedelete/test-result/

